<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940685713552-rcn9lt58oer4m2utjr75ch55pnvfcr2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940685713552-rcn9lt58oer4m2utjr75ch55pnvfcr2m</string>
	<key>API_KEY</key>
	<string>AIzaSyDPEFgzxiEeev9DY2maWzQm7hfLTqHO5Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>940685713552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs3217.Annotato.Annotato</string>
	<key>PROJECT_ID</key>
	<string>annotato-ba051</string>
	<key>STORAGE_BUCKET</key>
	<string>annotato-ba051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940685713552:ios:49cf501fe9069f934cf815</string>
</dict>
</plist>